{% extends "base.html.twig" %}


{% block body %}

{{ dump(app.user) }}
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Administration: Page d'index</h1>
      </div>
    </div>


{% endblock %}