{% extends 'base.html.twig' %}



{% block body %}


    <h1 class="display-4 mb-4">Connexion</h1>


    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData,'security') }}</div>
    {% endif %}

    <form action="{{ path('ec_login') }}" method="post">
    
        <label for="username" class="form-label">Email:</label>
        <input type="email" class="form-control mb-3" id="username" name="_username" value={{lastUsername}}>

        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control mb-3" id="password" name="_password">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-primary">Se connecter</button>

    </form>


{% endblock %}